.notificationBarContainer {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 500;
  color: #343739;

  width: 100vw;
  height: 40px;
  background-color: #F3F5F7;

  justify-content: center;
  align-items: center;
}

.textIcon {
  display: flex;
  flex-direction: row;
}

.textIcon .icon,
.textIcon p {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.shopNow {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  border-bottom: 1px solid #377DFF;
}

.shopNow a {
  color: #377DFF;
  text-decoration: none;
}

/* NAV BAR */

.navBar {
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.navBar .storeName {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navBar .logo {
  margin-left: 160px;
  font-size: 24px;
  cursor: pointer;
  white-space: nowrap;
  flex-shrink: 0;
}

.navBar .linkGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 55px;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}

.navBar .linkGroup .link {
  cursor: pointer;
}

 .link .linkName {
  text-decoration: none;
  color: black;
}

.navBar .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 160px;
}

.navBar .icons img {
  cursor: pointer;
}

.icons .search,
.icons .userPFP {
  display: flex;
  margin-right: 16px;
}

.cartButton {
  display: flex;
  align-items: center;
}

.cartButton .shoppingBag {
  display: flex;
}

.cartButton .shoppingCartCounter {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}

