.navBar{
  display: flex;
  max-width: 100vw;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  padding: 16px 75px;
  position: relative;
  background-color: #ffffff;
}

.storeName {
  
}

.navBar li {
  padding: 10px 0;
  list-style-type: none;
  font-size: 1.2rem;
}

.navBar li a {
  text-decoration: none;
}