.flexContainer {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
}

.leftContainer {
  width: 50vw;
  height: 100vh;
  margin-right: 70px;
}

.leftContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightContainer {
  display: flex;
  flex-direction: column;
}

.rightContainer .title {
  margin-bottom: 32px;
}

.rightContainer .title h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 24px;
}

.rightContainer .title p {
  font-size: 16px;
  font-weight: 450;
  color: #6C7275;
  font-weight: 400;
}

.rightContainer .title a {
  color: #38CB89;
  text-decoration: none;
  font-weight: 500;
}

.form .inputFields {
  display: flex;
  flex-direction: column;
}

.inputFields .fieldItem {
  margin-bottom: 32px;
}

.fieldItem input {
  font-size: 16px;
  border: none;
  width: 456px;
  height: 40px;
  border-bottom: 1px solid #E8ECEF;
}

.fieldItem input:focus {
  outline: none;
}

.inputFields .checkboxRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.inputFields input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  accent-color: rgb(0, 0, 0);
}

.inputFields .checkboxRow label {
  font-size: 16px;
  color: #6C7275;
}

.inputFields .checkboxRow a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.form button {
  width: 100%;
  padding: 10px 40px;
  border: none;
  background-color: black;

  font-weight: 400;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.form button:hover {
  background-color: hsl(0, 0%, 15%);
}