.categoryList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 8rem;
  padding: 0;
  margin: 0 auto;
  justify-content: center; /* optional: centers the items */
  max-width: 900px;
}

.categoryList li {
  flex: 0 0 auto; /* prevents shrinking */
  
}

.category {
  width: 400px;
  height: 300px;

  font-size: 1.5rem;
  padding-top: 10px;

  border-radius: 10px;
}

.category img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}
