button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 550;
  color: #807F7E;
  cursor: pointer;
}

button:hover {
  color: black;
}

button:active {
  color: black;
  text-decoration: underline;
}